@import './vars.scss';

.food{
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 1px rgba(194,194,194,1);
    border-radius: 5px;
    min-height: 450px;
    .stars{
        float: right;
    }
    .cat{
        font-size: 12px;
    }
    img{
        width: 100%;
    }
    .btn{
        padding: 10px;
        background-color: $yellow;
        color: $red;
        font-family: Rounds;
        float: right;
    }
    .btn:hover{
        color: $blue;
    }
    .price{
        font-weight: 900;
        font-size: 18px;
    }
    .name{
        font-weight: 800;
        text-align: center;
    }
    .eng{
        font-size: 12px;
        text-align: center;
        color: $red;
        text-transform: uppercase;
        min-height: 55px;
    }
}