@import './vars.scss';

.section1{
    margin-top: 70px;
    height: 750px;
    width: 100%;
    background-image: url(../imgs/s1back.png);
    background-repeat: repeat;
    padding: 80px 0;
    img{
        position: absolute;
        right: 0;
        top: -70px;
        height: 700px;
    }
    .content{
        h1{
            color: $red;
            margin-bottom: 30px;
        }
        h2{
            color: $blue;
            margin-bottom: 30px;
        }
        .btn{
            background-color: $red;
            width: 170px;
            box-shadow: 4px 4px 10px rgba(25, 100, 176, 0.31);
            color: white;
            padding: 10px 20px;
            font-size: 24px;
        }
    }
}