@import './vars.scss';

.section2{
    height: 670px;
    width: 100%;
    background-image: url(../imgs/s2back.png);
    background-repeat: repeat;
    padding: 50px 0;
    .pic{
        position: absolute;
        left: 0;
        top: -70px;
        height: 700px;
    }
    .content{
        position: absolute;
        top: 40px;
        right: 100px;
        h1{
            color: $blue;
            margin-bottom: 30px;
        }
        h2{
            color: white;
            margin-bottom: 30px;
        }
        .btn{
            background-color: $red;
            width: 170px;
            box-shadow: 4px 4px 10px rgba(25, 100, 176, 0.31);
            color: white;
            padding: 10px 20px;
            font-size: 24px;
        }
        .fifty{
            width: 400px;
        }
    }
}